Package                                  Version
---------------------------------------- --------------
accelerate                               1.0.1
aiofiles                                 24.1.0
aiohappyeyeballs                         2.4.3
aiohttp                                  3.10.10
aiosignal                                1.3.1
alembic                                  1.13.3
altair                                   5.4.1
annotated-types                          0.7.0
antlr4-python3-runtime                   4.9.3
anyio                                    4.6.2.post1
appnope                                  0.1.2
argon2-cffi                              23.1.0
argon2-cffi-bindings                     21.2.0
arrow                                    1.3.0
asgiref                                  3.8.1
asttokens                                2.0.5
async-lru                                2.0.4
async-timeout                            4.0.3
attrs                                    24.2.0
audioread                                3.0.1
babel                                    2.16.0
backcall                                 0.2.0
backoff                                  2.2.1
banal                                    1.0.6
bcrypt                                   4.2.1
beautifulsoup4                           4.12.3
bioc                                     2.1
bleach                                   6.2.0
blinker                                  1.8.2
blis                                     0.7.11
boto3                                    1.35.39
botocore                                 1.35.39
build                                    1.2.2.post1
cachetools                               5.5.0
catalogue                                2.0.10
certifi                                  2024.8.30
cffi                                     1.17.1
chardet                                  5.2.0
charset-normalizer                       3.3.2
chroma-hnswlib                           0.7.6
chromadb                                 0.5.21
click                                    8.1.7
cloudpathlib                             0.19.0
codetiming                               1.4.0
coloredlogs                              15.0.1
comm                                     0.2.1
confection                               0.1.5
conllu                                   4.5.3
contourpy                                1.3.0
cryptography                             44.0.0
cycler                                   0.12.1
cymem                                    2.0.8
dataclasses-json                         0.6.7
dataset                                  1.6.2
datasets                                 3.0.1
debugpy                                  1.6.7
decorator                                5.1.1
defusedxml                               0.7.1
Deprecated                               1.2.14
dill                                     0.3.8
docopt                                   0.6.2
durationpy                               0.9
effdet                                   0.4.1
einops                                   0.8.0
emoji                                    2.13.2
en-core-web-sm                           3.7.1
encodec                                  0.1.1
eval_type_backport                       0.2.0
exceptiongroup                           1.2.0
executing                                0.8.3
fastapi                                  0.115.5
fastjsonschema                           2.20.0
filelock                                 3.16.1
filetype                                 1.2.0
flair                                    0.14.0
flatbuffers                              24.3.25
fonttools                                4.54.1
fpdf                                     1.7.2
fqdn                                     1.5.1
fr-core-news-md                          3.7.0
fr-core-news-sm                          3.7.0
FrenchLefffLemmatizer                    0.3
frozenlist                               1.4.1
fsspec                                   2024.6.1
ftfy                                     6.3.0
funcy                                    2.0
gdown                                    5.2.0
gensim                                   4.3.3
gitdb                                    4.0.11
GitPython                                3.1.43
google-api-core                          2.23.0
google-auth                              2.36.0
google-cloud-vision                      3.8.1
googleapis-common-protos                 1.66.0
googlesearch-python                      1.2.5
graphviz                                 0.20.3
grpcio                                   1.68.0
grpcio-status                            1.68.0
h11                                      0.14.0
html5lib                                 1.1
httpcore                                 1.0.6
httptools                                0.6.4
httpx                                    0.27.2
huggingface-hub                          0.25.2
humanfriendly                            10.0
HyperPyYAML                              1.2.2
idna                                     3.10
importlib-metadata                       7.0.1
importlib_resources                      6.4.5
intervaltree                             3.1.0
iopath                                   0.1.10
ipykernel                                6.28.0
ipython                                  8.15.0
ipywidgets                               8.1.5
isoduration                              20.11.0
jedi                                     0.19.1
Jinja2                                   3.1.4
jiwer                                    3.0.4
jmespath                                 1.0.1
joblib                                   1.4.2
json5                                    0.9.25
jsonlines                                4.0.0
jsonpath-python                          1.0.6
jsonpointer                              3.0.0
jsonschema                               4.23.0
jsonschema-specifications                2024.10.1
jupyter                                  1.1.1
jupyter_client                           8.6.0
jupyter-console                          6.6.3
jupyter_core                             5.7.2
jupyter-events                           0.10.0
jupyter-lsp                              2.2.5
jupyter_server                           2.14.2
jupyter_server_terminals                 0.5.3
jupyterlab                               4.2.5
jupyterlab_pygments                      0.3.0
jupyterlab_server                        2.27.3
jupyterlab_widgets                       3.0.13
kiwisolver                               1.4.7
kubernetes                               31.0.0
langcodes                                3.4.0
langdetect                               1.0.9
language_data                            1.2.0
layoutparser                             0.3.4
lazy_loader                              0.4
librosa                                  0.10.2.post1
llvmlite                                 0.43.0
lxml                                     5.3.0
Mako                                     1.3.5
marisa-trie                              1.2.0
markdown-it-py                           3.0.0
MarkupSafe                               2.1.5
marshmallow                              3.23.1
matplotlib                               3.9.2
matplotlib-inline                        0.1.6
mdurl                                    0.1.2
mistune                                  3.0.2
mmh3                                     5.0.1
monotonic                                1.6
more-itertools                           10.5.0
mpld3                                    0.5.10
mpmath                                   1.3.0
msgpack                                  1.1.0
multidict                                6.1.0
multiprocess                             0.70.16
murmurhash                               1.0.10
mypy-extensions                          1.0.0
narwhals                                 1.13.2
nbclient                                 0.10.0
nbconvert                                7.16.4
nbformat                                 5.10.4
nest-asyncio                             1.6.0
networkx                                 3.2.1
nltk                                     3.9.1
notebook                                 7.2.2
notebook_shim                            0.2.4
numba                                    0.60.0
numpy                                    1.26.4
oauthlib                                 3.2.2
olefile                                  0.47
omegaconf                                2.3.0
onnx                                     1.17.0
onnxruntime                              1.19.2
opencv-python                            4.10.0.84
opencv-python-headless                   4.10.0.84
opentelemetry-api                        1.28.2
opentelemetry-exporter-otlp-proto-common 1.28.2
opentelemetry-exporter-otlp-proto-grpc   1.28.2
opentelemetry-instrumentation            0.49b2
opentelemetry-instrumentation-asgi       0.49b2
opentelemetry-instrumentation-fastapi    0.49b2
opentelemetry-proto                      1.28.2
opentelemetry-sdk                        1.28.2
opentelemetry-semantic-conventions       0.49b2
opentelemetry-util-http                  0.49b2
openvino                                 2024.4.0
openvino-telemetry                       2024.1.0
orjson                                   3.10.12
overrides                                7.7.0
packaging                                24.1
pandas                                   2.2.2
pandocfilters                            1.5.1
parso                                    0.8.3
pdf2image                                1.17.0
pdfminer.six                             20231228
pdfplumber                               0.11.4
pexpect                                  4.8.0
pi_heif                                  0.21.0
pickleshare                              0.7.5
pikepdf                                  9.4.2
pillow                                   11.0.0
pip                                      24.2
platformdirs                             3.10.0
plotly                                   5.24.1
pooch                                    1.8.2
portalocker                              3.0.0
posthog                                  3.7.4
pptree                                   3.1
praat-parselmouth                        0.4.5
preshed                                  3.0.9
prometheus_client                        0.21.0
prompt-toolkit                           3.0.43
propcache                                0.2.0
proto-plus                               1.25.0
protobuf                                 5.28.2
psutil                                   5.9.0
ptyprocess                               0.7.0
pure-eval                                0.2.2
pyarrow                                  17.0.0
pyasn1                                   0.6.1
pyasn1_modules                           0.4.1
pycocotools                              2.0.8
pycparser                                2.22
pydantic                                 2.9.2
pydantic_core                            2.23.4
pydeck                                   0.9.1
Pygments                                 2.15.1
pyparsing                                3.2.0
pypdf                                    5.1.0
pypdfium2                                4.30.0
PyPika                                   0.48.9
pyproject_hooks                          1.2.0
PySocks                                  1.7.1
python-dateutil                          2.9.0.post0
python-dotenv                            1.0.1
python-iso639                            2024.10.22
python-json-logger                       2.0.7
python-magic                             0.4.27
python-multipart                         0.0.19
python-oxmsg                             0.0.1
pytorch_revgrad                          0.2.0
pytz                                     2024.2
PyYAML                                   6.0.2
pyzmq                                    25.1.2
rake-nltk                                1.0.6
RapidFuzz                                3.10.0
referencing                              0.35.1
regex                                    2024.9.11
requests                                 2.32.3
requests-oauthlib                        2.0.0
requests-toolbelt                        1.0.0
rfc3339-validator                        0.1.4
rfc3986-validator                        0.1.1
rich                                     13.8.1
rpds-py                                  0.20.1
rsa                                      4.9
ruamel.yaml                              0.18.6
ruamel.yaml.clib                         0.2.12
s3transfer                               0.10.3
sacremoses                               0.1.1
safetensors                              0.4.5
scikit-learn                             1.5.2
scipy                                    1.13.1
seaborn                                  0.13.2
segtok                                   1.5.11
semver                                   3.0.2
Send2Trash                               1.8.3
sentencepiece                            0.2.0
setuptools                               75.1.0
shellingham                              1.5.4
six                                      1.16.0
smart-open                               7.0.4
smmap                                    5.0.1
snakeviz                                 2.2.2
sniffio                                  1.3.1
sortedcontainers                         2.4.0
soundfile                                0.12.1
soupsieve                                2.6
soxr                                     0.5.0.post1
spacy                                    3.7.6
spacy-legacy                             3.0.12
spacy-loggers                            1.0.5
speechbrain                              1.0.2
SQLAlchemy                               1.4.54
sqlitedict                               2.1.0
srsly                                    2.4.8
stack-data                               0.2.0
stanza                                   1.9.2
starlette                                0.41.3
streamlit                                1.40.0
suno-bark                                0.0.1a0
sympy                                    1.13.1
tabulate                                 0.9.0
tenacity                                 9.0.0
terminado                                0.18.1
thinc                                    8.2.5
thinc_apple_ops                          0.1.5
threadpoolctl                            3.5.0
timm                                     1.0.11
tinycss2                                 1.4.0
tokenizers                               0.20.1
toml                                     0.10.2
tomli                                    2.0.1
torch                                    2.5.0
torchaudio                               2.5.0
torchvision                              0.20.0
tornado                                  6.4.1
tqdm                                     4.66.5
traitlets                                5.14.3
transformer-smaller-training-vocab       0.4.0
transformers                             4.46.1
typer                                    0.12.5
types-python-dateutil                    2.9.0.20241003
typing_extensions                        4.11.0
typing-inspect                           0.9.0
tzdata                                   2024.1
Unidecode                                1.3.8
unstructured                             0.16.8
unstructured-client                      0.28.1
unstructured-inference                   0.8.1
unstructured.pytesseract                 0.3.13
uri-template                             1.3.0
urllib3                                  1.26.20
uvicorn                                  0.32.1
uvloop                                   0.21.0
wasabi                                   1.1.3
watchfiles                               1.0.0
wcwidth                                  0.2.5
weasel                                   0.4.1
webcolors                                24.8.0
webencodings                             0.5.1
websocket-client                         1.8.0
websockets                               14.1
wheel                                    0.44.0
widgetsnbextension                       4.0.13
Wikipedia-API                            0.7.1
wrapt                                    1.16.0
XlsxWriter                               3.2.0
xxhash                                   3.5.0
yarl                                     1.15.3
zipp                                     3.17.0
